body{
	background-color: #efbe66;
}
select{
	background-color: #ffd282;
}
button{
	background-color: #ffd282;
}
table, th, td {
  border: 1px solid black;
  background-color: #ffd282;
}
.row{
	display: flex
}