html {
    background: url(https://images.unsplash.com/photo-1636829092009-0d7f5723877a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1742&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.landscape{
    width: 100%;
    padding: 0px;
}
.nav{
    display: flex;
    background-color: rgb(194, 214, 236);
    overflow: hidden;
}
.nav a{
    float: left;
    color: #525252;
    text-align: center;
    text-decoration: none;
    padding: 1vw 3vw;
    font-size: 2vw;
    font-family: 'Source Sans Pro', sans-serif;
}
.nav a:hover{
    background-color: #9CBCE0;
    color: black;
}
.nav a.active{
    background-color: rgba(236, 215, 194, 0.85);
    color: #525252;
}
.container{
    padding: 1px;
    position: relative;
}
.container a{
    margin: 50px;
    line-height: 1.5;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;

}
.container a:hover{
    text-decoration: underline;
    color: #ECF4FA;
}
.row{
    display: flex
}
.jalus{
    padding: 0px 0px;
    color: white;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;

}


/*Kontaktilehe css*/
.contact{
    margin:auto;
    padding-top: 60px;
    padding-bottom: 60px ;
    text-align: center;
    max-width: 500px;
    margin-bottom:50px;
    margin-top:40px;
    border: 1px solid darkgray;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
}

.contact img{
    margin-top:30px;
    border-radius: 4%;
}

.contact-address{
    margin-bottom: 15px;
}
.contact-phone{
    margin-bottom: 15px;
}
.contact-email{
    margin-bottom: 15px;
}

/*Hulgimüügi css*/
.hulgimyyk{
    padding-left: 10px;
    padding-right: 10px;
    padding-top:60px;
    padding-bottom: 60px;
    border: 1px solid darkgray;
    border-radius: 4px;
    max-width: 500px;
    margin:auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}
.hulgimyyk img{
    max-width: 120px;
}
.partners{
    background-color: whitesmoke;
    margin: auto;
    max-width: 250px;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 5px;
}