body{
    margin: 0;
    background-color: gray;
    font-family: 'Source Sans Pro', sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.landscape{
    width: 100%;
    padding: 0px;
}
.nav{
    display: flex;
    background-color: #FFA500;
    overflow: hidden;
}
.nav a{
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 1vw 3vw;
    font-size: 2vw;
	font-weight: 525;
}
.nav a:hover{
    background-color: #E59400;
    color: black;
}
.nav a.active{
    background-color: #EFBE66;
    color: black;
	font-weight: 525;
}
@media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

.container{
    padding: 1px;
    position: relative;
	background-color: gray;
}
.container a{
    margin: 50px;
    line-height: 1.5;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.container a:hover {
    text-decoration: underline;
    color: #ECF4FA;
}
.jalus {
    padding: 0px 0px;
    color: white;
    font-size: 15px;
}
.year{
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}